.dropdown-trigger {
    width: 100%;
}

.sidenav li>a>i.material-icons {
    float: right;
}

body {
    overflow: hidden; /* Hide scrollbars */
  }

.user-view {
    height: 150px;
}

img {
    max-width:100%;
    max-height:100%;
    display:block;
    margin:auto;
}

.sidenav {
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
    background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

.wrapper {
    display: flex;
    width: 966px;
    height: 663px;
    margin-left: 300px;
    justify-content: center;
}

.collapsible {
    height: max-content;
    width: 100%;
    margin-top: 300px;
}

#ADAPTER_FWD {
    margin-bottom: 14px;
}

p.adapter-checkbox {
    margin-left: auto;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#dropdown1 {
    background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.flexcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end;
 }

 #mothurOligosFileExample {
     border: 1px grey solid;
     border-radius: 25px;
     border-spacing: 20px;
     padding: 10px;
 }

 .hideView {
    display: none;
}

.input-field.inline > .InlineNumericInput {
    text-align: center;
    width: 75px;
    margin: 0 0 5px 0;
    background-color: #eee;
}

.label {
    display: inline-block;
    width: 550px;
    text-align: left;
  }​