.activated {
  color: #64ffda;
}

.manualLink{
  color: wheat !important;
}

.dropdown-trigger {
    width: 100%;
}

::-webkit-scrollbar {
  display: none;
  }

.sidenav li>a>i.material-icons {
    float: right;
}

#dropdown1>.dropdown-selection>a {
  padding-left: 10px;
}

#slide-out {
  width: 270px;
  margin-top: 30px;
}

#slide-out2 {
  margin-left: 1215px;
  width: 65px;
  text-align: center;
  margin-top: 30px;
}

#slide-out2>a {
  text-align: center;
  margin-bottom: 5px;
}

.user-view {
    height: 150px;
}

img {
    max-width:100%;
    max-height:100%;
    display:block;
    margin:auto;
    margin-left: 55px;
}

.sidenav {
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html {
  height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

.wrapper {
    display: flex;
    width: 945px;
    height: 660px;
    margin-left: 270px;
    justify-content: center;
}

.collapsible {
    height: max-content;
    width: 100%;
    margin-top: 300px;
    background: linear-gradient(to bottom, #FFFFFF, #ECE9E6);
}

#ADAPTER_FWD {
    margin-bottom: 14px;
}

p.adapter-checkbox {
    margin-left: auto;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#dropdown1 {
    background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.flexcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end;
 }

 #mothurOligosFileExample {
     border: 1px grey solid;
     border-radius: 25px;
     border-spacing: 20px;
     padding: 10px;
 }

 .hideView {
    display: none;
}

.input-field.inline > .InlineNumericInput {
    text-align: center;
    width: 75px;
    margin: 0 0 5px 0;
    background-color: #eee;
}

.InlineNumericInput{
    text-align: center;
    color: whitesmoke;
    width: 30% !important;
}

.extraOptions {
    display: none;
}

.label {
    display: inline-block;
    width: 450px;
    text-align: start;
}​

.material-tooltip {
    color:red
}

.card-content {
  background: linear-gradient(to left, #bbd2c5, #536976)
}

.card-action {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364)
}

.card {
    border-radius: 10px;
}

.switch {
    margin: 16px;
}

/* This makes it not clickable */
.disabled {
    pointer-events:none; 
}

/* Loading Spinner Overlay */

  
  .spannerWrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    text-align:center;
    transform: translateX(-50%);
  }
  
  .spanner{
    position:absolute;
    top: 50%;
    left: 0;
    background: #2a2a2a55;
    width: 100%;
    display:block;
    text-align:center;
    height: 300px;
    color: #FFF;
    transform: translateY(-50%);
    z-index: 1000;
    visibility: hidden;
  }
  
  .spannerOverlay{
    position: fixed;
      width: 100%;
      height: 100%;
    background: rgba(0,0,0,0.5);
    visibility: hidden;
  }
  
  .loader,
  .loader:before,
  .loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
  }
  .loader {
    color: #ffffff;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  .loader:before,
  .loader:after {
    content: '';
    position: absolute;
    top: 0;
  }
  .loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 3.5em;
  }
  @-webkit-keyframes load7 {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }
  @keyframes load7 {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }
  
  .show{
    visibility: visible;
  }
  
  .spanner, .spannerOverlay{
      opacity: 0;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  .spanner.show, .spannerOverlay.show {
      opacity: 1
  }

  .timeline-Tweet {
      pointer-events: none !important;
  }

  /* nav-2 button desing */

  .btn-nav-2>i.left {
    margin-top: 25%;
    font-size: 2rem;
  }

  .btn-nav-2.btn-small {
    height: 50px;
    line-height: 32.4px;
    font-size: 20px;
}

.noshadow {
	-webkit-box-shadow: none;
	box-shadow: none;
  }
  
.DeepSpace {
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
